.App {
  text-align: center;
  min-height: 100vh;
  height: auto;
  background: rgb(28, 18, 53);
  background: linear-gradient(
    57deg,
    rgba(28, 18, 53, 1) 20%,
    rgba(0, 0, 0, 1) 78%
  );
  
}
.css-k7r2wc > option {
  color: #000;
}
.css-k7r2wc > optgroup {
  color: #000;
}